<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Add New Tool
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="#myModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a New Tool</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for @tool, url: { action: "create" } do |f| %>
          <%= f.text_field :name, label: "Tool Name" %>
          <!-- current_user.user.person_id -->
          <%= f.hidden_field :person_id %>
          <%= f.hidden_field :availability %>
          <%= f.text_field :img, label: "Image URL"%>
          <%= f.submit "Add Tool" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="media">
  <a class="media-left media-middle" href="#">
    <img data-src="https://placekitten.com/g/200/300">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Middle aligned media</h4>
    ...
  </div>
</div> -->

<div class="media">
  <% @tools.each do |tool| %>
    <div class ="media-image">
      <img src="<%= tool.img %>" height="125px">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= tool.name %></h4>
    </div>
    <div class="media-button">


    </div>

  <% end %>
</div>
