<h2>Hello, <%= @user.name %></h2>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <div class="center"> <%= flash[:notice] %> </div>
  </div>
<% end %>

<%= bootstrap_form_for(@user) do |f| %>
  <div id="edit-name">
    <%= f.text_field :name %>
  </div>
  <div id="edit-email">
    <% if @user.email %>
      <% unless @user.confirmed %>
      <div class="alert alert-warning" role="alert">
        Email Unconfirmed
      </div>
      <% end %>
      <%= f.email_field :email %>
    <% else %>
      <%= f.email_field :email, placeholder: "Add your email to get updates about garden events and news!" %>
    <% end %>
    <% if @user.admin %>

    <% elsif @user.admin == nil %>
      <div class="alert alert-warning" role="alert">
        Your admin request has been received and will be evaluated by a current admin.
      </div>
    <% elsif @user.admin == false && @user.confirmed %>
      <%= f.check_box :admin, label: "Request admin status" %>
    <% else %>

      <div class="alert alert-warning" role="alert">
        Submit and confirm an email address in order to request admin status.
      </div>
    <% end %>
  </div>
    <%= f.submit class: "btn btn-default", value: "Update Account"%>
<% end %>

<br>
<%= link_to "Delete Your Account", @user, method: :delete, class: "btn btn-default" %>

<% if @user.admin %>
  <hr>
  <div class = "buttonz">
    <button type="button" class="btn btn-default">
      <%= link_to "Add a Tool", tools_path %>
    </button>
    <button type="button" class="btn btn-default">
      <%= link_to "Write a Post", new_post_path %>
    </button>
    <button type="button" class="btn btn-default">
      <%= link_to "Schedule an Event", calendar_path %>
    </button>
  </div>
  <hr>
  <% if @users.length > 0 %>
    <h3>Admin candidates:</h3>
    <% @users.each do |user| %>
      <%= user.name %>
      <%= link_to "Make admin", adminify_path(user.id), class: "btn btn-default" %>
      <%= link_to "Deny request", deny_request_path(user.id), class: "btn btn-default" %><br>
    <% end %>
  <% end %>
<% end %>
